<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/usuario']" routerLinkActive="router-link-active" >Usuarios</a>
      <a mat-list-item [routerLink]="['/auth']" routerLinkActive="router-link-active">Auth</a>
      <a mat-list-item [routerLink]="['/horario']" routerLinkActive="router-link-active">Horario</a>
      <a mat-list-item [routerLink]="['/horario/reservaciones']" routerLinkActive="router-link-active">Mis Reservaciones</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button
          type="button"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      <span>reservacion-frontend</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
